footer {
  background: linear-gradient(
    135deg,
    rgba(78, 115, 248, 0.15),
    rgba(243, 106, 212, 0.15),
    rgba(247, 180, 156, 0.15)
  );
  text-align: center;
}
@media (min-width: 768px) {
  footer {
    text-align: start !important;
  }
}

footer p {
  margin-bottom: 0.4rem;
  font-size: 1rem;
}

footer h6 {
  font-size: 1.2rem;
}

.footer-logo {
  width: 160px;
  max-width: 100%;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f1f1f1;
  transition: background 0.3s ease;
}

.social-icon:hover {
  background-color: #007bff;
  color: white;
}

.footer-slogan {
  font-size: 0.9rem;
  color: #555;
  font-weight: 500;
  margin-top: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-slogan {
    font-size: 0.85rem;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .d-flex.gap-3 {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
  }
}
