.section-heading{
     color: #1890C7;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #1890C7;
 
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase; /* If you want uppercase */
}